*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
background-color: black;
font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: monospace;
    background-color: plum;
    color: purple;
    height: 120px;
    font-size: 100px;
}